---
import React from 'react'
import Layout from '../layouts/Layout.astro'
import  NavBar from '../components/NavBar.astro'
import Header from '../components/Header.astro'
import About from '../components/About.astro'
import Skills from '../components/Skills.astro'
import Projects from '../components/Projects.astro'
---

<Layout>
  <main class="bg-black shado overflow-hidden">
    <NavBar />
    <Header />
    <About />
    <Skills />
    <Projects />  
  </main>
</Layout>
