---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
import Header from '@components/Header.astro';
import About from  "@components/About.astro";
import SkillCard from '@components/SkillCard.astro';
import Skills from '@components/Skills.astro';
---

<Layout>
	<main class="bg-black shado">
		<NavBar />
		<Header />
		<About />
		<Skills />
	</main>
</Layout>
