---

---

<section class="w-full bg-black mt-[236px] mb-[106px] flex flex-col items-center font-mont text-center">
  <div class="flex flex-col max-w-[616px] max-h-[351px] gap-[5px] mb-8">
    <h1 class="font-bold max-w-[616px] text-8xl text-white">Hugo Campos</h1>
    <h3 class="text-white text-40px font-bold">Software Developer</h3>
  </div>
  <p class="text-white text-2xl max-w-[616px]">Bringing ideas to life on Web and Mobile platforms.</p>
</section>