---
import GithubIcon from "./icons/GithubIcon.astro";
import LinkedInIcon from "./icons/LinkedInIcon.astro";
---
<nav class="flex justify-between items-center bg-black px-[12px] top-0 fixed overflow-hidden w-full shadow-white-sm h-10">
	<span  class="cursor-pointer font-mont text-white">
		Hugo Campos
	</span>
	<div  class="flex gap-10 text-white font-mont">
		<a class="w-10 cursor-pointer hover:scale-110 transition hover:translate-y-1 hover:font-bold">
			Main
		</a>
		<a class="w-12 cursor-pointer hover:scale-110 transition hover:translate-y-1 hover:font-bold">
			About
		</a>
		<a class="w-10 cursor-pointer hover:scale-110 transition hover:translate-y-1 hover:font-bold">
			Skills
		</a>
		<a class="w-16 cursor-pointer hover:scale-110 transition hover:translate-y-1 hover:font-bold">
			Contact
		</a>
	</div>
	<div class="flex gap-4">
		<GithubIcon width={25} height={25} />
		<LinkedInIcon width={30} height={30} />
	</div>
</nav>