---
import Card from "./Card.astro";
---
<section class="flex flex-col gap-[100px] pb-[100px] bg-grey" id="Projects">
    <h1 class="text-black font-mont text-center pt-[100px] text-40px font-bold">Projects</h1>
    <div class="flex items-center justify-evenly">
        <Card description="Clon de spotify creada con React Native." title="BrightMusic"/>
        <Card description="PWA Minijuego creado con Reactjs" title="Reto o shot!"/>
    </div>
</section>