---
import SkillCard from "./SkillCard.astro";

---

<section class="flex flex-col gap-[100px] pb-[100px]" id="Skills">
  <h1 class="text-white font-mont text-center pt-[100px] text-40px font-bold">Skills</h1>
  <div class="grid md:grid-cols-2 xl:grid-cols-3 grid-cols-2  md:gap-y-[138px] gap-y-[70px] place-items-center">
    <SkillCard  height={96}  altImage='React Icon' imageName='react-logo.svg' skillTitle='Reactjs & React Native'/>
    <SkillCard  height={96}  altImage='Jest Icon' imageName='jest-logo.svg' skillTitle='Jest'/>
    <SkillCard  height={96}  altImage='React Testing Library Icon' imageName='rtl-logo.png' skillTitle='React Testing Library'/>
    <SkillCard  height={96}  altImage='NextJs Icon' imageName='nextjs-logo.png' skillTitle='Next.js'/>
    <SkillCard  height={96}  altImage='Redux Icon' imageName='redux-logo.svg' skillTitle='Redux Zustand Mobx'/>
    <SkillCard  height={96}  altImage='Tailwind Icon' imageName='tailwind-logo.png' skillTitle='Tailwind & NativeWind'/>
    <SkillCard  height={96}  altImage='Typescript Icon' imageName='typescript-logo.png' skillTitle='TypeScript'/>
    <SkillCard  height={96}  altImage='Javascript Icon' imageName='javascript-logo.png' skillTitle='JavaScript'/>
    <SkillCard  height={96}  altImage='Git Icon' imageName='git-logo.png' skillTitle='Git'/>
  </div>
</section>