---
import { Image } from 'astro:assets'

interface Props {
  imageName: string
  skillTitle: string
  altImage: string
  width: number
  height: number
}

const {imageName, skillTitle, altImage, height, width} = Astro.props

---

<section class="w-[305px] flex gap-5">
<Image  width={width} height={height} alt={altImage ?? ""} src={import(`./assets/${imageName}`)}/>
<span class="text-white flex-1 text-2xl font-mont items-center flex justify-center text-center">{skillTitle}</span>
</section>